body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .bgimg-1 , .bgimg-2 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80");
    min-height: 100%;
  }
  .bgimg-2 {
    background-image: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80");
    min-height: 30%;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .caption span.border {
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 4px;
  }
  .caption-2 {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .caption-2 span.border {
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 4px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }
.quotes {
    color: white;
}  
.line {
    background-color: white;
    height: 3px;
    width: 99%;
}
::-moz-selection { /* Code for Firefox */
    color: black;
    background: white;
  }
  
  ::selection {
    color: black;
    background: white;
  }